@using BusinessService.Contracts.Responses
@model List<GetBusinessTopicDto>

<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">İş Konuları Listesi</h1>
        <p class="mb-4">
            İş konularının listelendiği sayfa
        </p>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">İş Konuları</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>İş Konusu İsmi</th>
                                <th>İş Ortağı</th>
                                <th>Oluşturulma Tarihi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>İş Konusu İsmi</th>
                                <th>İş Ortağı</th>
                                <th>Oluşturulma Tarihi</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.TopicName</td>
                                            <td>@item.PartnerName</td>
                                            <td>@item.CreatedAt</td>
                                            <td class="d-flex justify-content-center">
                                                <a href="/RiskAnalysis/List?businessTopicId=@item.Id" class="btn btn-primary btn-icon-split">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-arrow-right"></i>
                                                    </span>
                                                    <span class="text">Risk Analizlerini Listele</span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->